/* Portfolio */
#section5 {
    background-color: rgb(19, 13, 13);
    height: 800px;
    width: 100%;
    color: aliceblue;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .project-image {
    width: 18rem;
    margin-right: 1rem;
    margin-left: 1rem;
    /* justify-content: center; */
    /* text-align: center; */
  }